.main-section {
}
.main-section-about {

}
.main-section-about__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}
.main-section-about__wrapper{
  margin-top: 40px;
  margin-bottom: 60px;
}
.main-section-about__desc {
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.main-section-about__foto {

}
.main-section-about__foto-pic {

}
.main-section-about__foto-pic-img {

}
.about-img {
}
